################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# 忽略所有生成文件
**/bin/**
**/obj/**

# 忽略测试项目
TestPrograms/

#忽略本地配置文件
.vs/

#忽略不必要无效文件
.pdb
packages/Fody.6.0.0/Fody.6.0.0.nupkg